@import "../../global.scss";
@font-face { font-family: Stigma; 
             src: url('../../Stigma Display Typeface.ttf'); }

.Contact{
    
    height: 100%;
    width: 100%;
    background-color: $bgColour;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-family: Stigma;
        font-size: 100px;
        font-weight: 100;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .wrapper{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .left{
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        }
        .right{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

    }
    
    
}