@import "../../global.scss";
@font-face { font-family: Stigma; 
             src: url('../../Stigma Display Typeface.ttf'); } 

@font-face { font-family: Helmswald; 
             src: url('../../Helmswald Post demo.otf'); } 

.Intro{
    
    top: -60px;
    height: 100vh;
    width: 100%;
    background-color:$bgColour;
    color: $txtColour;
    overflow: hidden;
    position: relative;

    
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Stigma;
        overflow: hidden;
        padding-top: 25vh;
        font-weight: bolder;

        .logo{
        font-family: Helmswald;
        font-size: 30vh;
        margin-bottom: -62vh;
        z-index: 5;
        }

        .top{
            font-size: 40vh;
            font-family: inherit;
            color: transparent;
            -webkit-text-stroke: 5px #0000001c;
        }
        
        .bot{
            font-size: 48vh;
            font-family: inherit;
            color: $txtColour;
            margin-top: -14vh;
            color: transparent;
            -webkit-text-stroke: 5px #0000001c;
            
        }
        .subtitle{
            font-size: 0;
        }

    }
    
    
}

@media only screen and (max-width: 480px)  {

   .Intro{
    
    top: -60px;
    height: 100vh;
    width: 100%;
    background-color:$bgColour;
    color: $txtColour;
    overflow: hidden;
    position: relative;

    
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Stigma;
        overflow: hidden;
        padding-top: 23vh;
        font-weight: bolder;

        .logo{
        font-family: Helmswald;
        font-size: 60vw;
        margin-bottom: -62vh;
        z-index: 5;
        }

        .top{
            -webkit-text-stroke: 0px #0000001c;
        }
        
        .bot{
            -webkit-text-stroke: 0px #0000001c;
            
        }
        .subtitle {
            margin-top: -180px;
            font-weight: 500;
        }

    }
    
    
}


}