@import "../../global.scss";
@font-face { font-family: Stigma; 
             src: url('../../Stigma Display Typeface.ttf'); } 

.Spotlight{
    
    height: 125%;
    width: 100%;
    background-color: $bgColour;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    h1{
        font-family: Stigma;
        font-size: 100px;
        font-weight: 100;
        overflow: hidden;
    }

    

    .container{
        width:-moz-fit-content;
        width:fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .cardE{
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            z-index: -10;
            margin-bottom: 75px;

            
            .logoE{
                width: 100px;
                height: 100px;
                background-color: black;
                overflow: hidden;
                align-self: flex-start;
                margin-bottom: -60px;
                z-index: 1;
            }
            .TitleE{
                overflow: hidden;
                z-index: 1;
                text-align: left;
                font-size: 40px;
                font-family: Stigma;
            }

            .sTitleE{
                overflow: hidden;
                z-index: 1;
                text-align: left;
                font-size: 20px;
                font-family: Stigma;
                margin-bottom: 15px;
            }

            .imgE{
                width: calc(55vw + 100px);
                height: 280px;
                z-index: -2;
                object-fit: cover;
                opacity: 0.5;
                margin-top: -230px;
                margin-right: 90px;
            }
            
                
            .textE{
            width: 55vw;
            height: auto;
            position: relative;
            font-size: 20px;
            background-color: rgba(255, 255, 255, 0.85);
            color: black;
            overflow: hidden;
            z-index: 0;
            padding: 25px 25px 25px 75px;

            }
        }

        .cardO{
            width: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            z-index: -10;
            margin-bottom: 75px;


            .logoO{
                width: 100px;
                height: 100px;
                background-color: black;
                overflow: hidden;
                align-self: flex-end;
                margin-bottom: -60px;
                z-index: 1;
            }
            .TitleO{
                overflow: hidden;
                z-index: 1;
                text-align: right;
                font-size: 40px;
                font-family: Stigma;
            }

            .sTitleO{
                overflow: hidden;
                z-index: 1;
                text-align: right;
                font-size: 20px;
                font-family: Stigma;
                margin-bottom: 15px;
            }
            .imgO{
                width: calc(55vw + 100px);
                height: 280px;
                z-index: -2;
                object-fit: cover;
                opacity: 0.5;
                margin-top: -230px;
                margin-left: 90px;
            }
            
            .textO{
            width: 55vw;
            height: auto;
            position: relative;
            font-size: 20px;
            background-color: rgba(255, 255, 255, 0.85);
            color: black;
            overflow: hidden;
            z-index: 0;
            padding: 25px 75px 25px 25px;
            
                text-align: right;
            }   
        }
    }
}