@import "../../global.scss";
@font-face { font-family: Stigma; 
             src: url('../../Stigma Display Typeface.ttf'); } 

.Spotlight{
    
    height: 100%;
    width: 100%;
    background-color: $bgColour;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .space{
        font-size: 60px;
        opacity: 0;
    }
    h1{
        font-family: Stigma;
        font-size: 100px;
        font-weight: 100;
    }

    

    .container{
        width:-moz-fit-content;
        width:fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        overflow-wrap: break-word;

        .card{
            width: inherit;
            height: inherit;
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;
           
            overflow: hidden;


            .left{
                width: 100px;
                height: 100px;
                background-color: black;
                overflow: hidden;
            }
            .center{
                width: 55vw;
                height: fit-content;
                overflow: hidden;
                
                font-size: 20px;
                padding: 30px;
            }
            .right{ 
                width: 100px;
                height: 100px;

                background-color: gray;
                overflow: hidden;
            }
        }
    }
}