@import "../../global.scss";

.Spotlight{
    
    height: 100%;
    width: 100%;
    background-color: $bgColour;
    display: flex;
    align-items: center;
    flex-direction: column;

    .space{
        font-size: 60px;
        opacity: 0;
    }
    

    .container{
        width:-moz-fit-content;
        width:fit-content;
        height: 750px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        

        .card{
            width: -moz-fit-content;
            width: fit-content;
            height: inherit;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
           
            
            font-family: Stigma;
            overflow: hidden;

            transition: all 1s ease;

            background-color: gray;


            .left{
                width: 200px;
                height: 100px;
                background-color: black;
                

            }

            .right{ 
                width: 66vw;
            }
        }
    }
}