video{
position: absolute;
z-index: 5;
}
.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 40px);
        position: relative;
        top: 40px;

        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: y mandatory;
        &::-webkit-scrollbar{
            display:none;
        }

        > * {
            width: 100%;
            height: calc(100vh - 40px);
            scroll-snap-align: start;
        }
    }
}